PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://ravirajdhokiya9_db_user:W0iW43vRV8n1vpQE@ac-iwkxz2u-shard-00-00.2szlooa.mongodb.net:27017,ac-iwkxz2u-shard-00-01.2szlooa.mongodb.net:27017,ac-iwkxz2u-shard-00-02.2szlooa.mongodb.net:27017/peoplepay360?ssl=true&replicaSet=atlas-zwb73p-shard-0&authSource=admin&retryWrites=true&w=majority
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=sfdgrtiko